:root {
    --nav-color: #43281c;
    --text-color: #f8efc0;
    --container-color: #eee1d5;
    --input-color: #ab8a6a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

nav {
    background-color: var(--nav-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.title {
    font-size: 1.25rem;
    color: var(--text-color);
}

.logo {
    height: 4rem;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 4rem;
    gap: 2rem;
}

.payment {
    grid-column: 2;
    grid-row: 2;
}

.items {
    grid-row: 1/4;
}


.items, .name, .payment {
    color: var(--input-color);
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

.item-content {
    display: flex;
    gap: 1rem;
}

.price {
    align-items: flex-end;
}